In [1]:
import pandas as pd 
from pandas.plotting import andrews_curves 
import seaborn as sns
import altair as alt

import  matplotlib.pyplot as  plt 
import altair as alt 
import matplotlib.pyplot as plt

import panel as pn
import altair as alt
import pandas as pd

import datetime as dt
from altair import datum
import numpy as np 
import calendar

In [2]:
import altair as alt
alt.data_transformers.enable('data_server')

DataTransformerRegistry.enable('data_server')

In [197]:
df =pd.read_csv('/Users/ghimirek/Desktop/VIZ-SMU/salesAnalysis/allMonthDataSet.csv')

In [198]:
df.head(5)

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,1/7/15,1/8/15,4.5600,4,13.01,88522
1,20228,Not Specified,0.02,500.98,26.00,5,Ronnie Proctor,Delivery Truck,Home Office,Furniture,...,West,California,San Gabriel,91776,6/13/15,6/15/15,4390.3665,12,6362.85,90193
2,21776,Critical,0.06,9.48,7.29,11,Marcus Dunlap,Regular Air,Home Office,Furniture,...,East,New Jersey,Roselle,7203,2/15/15,2/17/15,-53.8096,22,211.15,90192
3,24844,Medium,0.09,78.69,19.99,14,Gwendolyn F Tyson,Regular Air,Small Business,Furniture,...,Central,Minnesota,Prior Lake,55372,5/12/15,5/14/15,803.4705,16,1164.45,86838
4,24846,Medium,0.08,3.28,2.31,14,Gwendolyn F Tyson,Regular Air,Small Business,Office Supplies,...,Central,Minnesota,Prior Lake,55372,5/12/15,5/13/15,-24.0300,7,22.23,86838

In [199]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1952 entries, 0 to 1951
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Row ID                1952 non-null   int64
 1   Order Priority        1952 non-null   object
 2   Discount              1952 non-null   float64
 3   Unit Price            1952 non-null   float64
 4   Shipping Cost         1952 non-null   float64
 5   Customer ID           1952 non-null   int64
 6   Customer Name         1952 non-null   object
 7   Ship Mode             1952 non-null   object
 8   Customer Segment      1952 non-null   object
 9   Product Category      1952 non-null   object
 10  Product Sub-Category  1952 non-null   object
 11  Product Container     1952 non-null   object
 12  Product Name          1952 non-null   object
 13  Product Base Margin   1936 non-null   float64
 14  Country               1952 non-null   object
 15  Region                1952 non-null   object
 16  State or Province     1952 non-null   object
 17  City                  1952 non-null   object
 18  Postal Code           1952 non-null   int64
 19  Order Date            1952 non-null   object
 20  Ship Date             1952 non-null   object
 21  Profit                1952 non-null   float64
 22  Quantity ordered new  1952 non-null   int64
 23  Sales                 1952 non-null   float64
 24  Order ID              1952 non-null   int64
dtypes: float64(6), int64(5), object(14)
memory usage: 381.4+ KB

In [200]:
df.shape

(1952, 25)

In [201]:
df.isna().any().any()

True

In [202]:
df.isna().sum()

Row ID                   0
Order Priority           0
Discount                 0
Unit Price               0
Shipping Cost            0
Customer ID              0
Customer Name            0
Ship Mode                0
Customer Segment         0
Product Category         0
Product Sub-Category     0
Product Container        0
Product Name             0
Product Base Margin     16
Country                  0
Region                   0
State or Province        0
City                     0
Postal Code              0
Order Date               0
Ship Date                0
Profit                   0
Quantity ordered new     0
Sales                    0
Order ID                 0
dtype: int64

In [203]:
# determine col with missing val 
df.loc[:,df.isnull().any()].columns

Index(['Product Base Margin'], dtype='object')

In [204]:
# check % of missing val in each col 
df.isna().sum()/(len(df))*100

Row ID                  0.000000
Order Priority          0.000000
Discount                0.000000
Unit Price              0.000000
Shipping Cost           0.000000
Customer ID             0.000000
Customer Name           0.000000
Ship Mode               0.000000
Customer Segment        0.000000
Product Category        0.000000
Product Sub-Category    0.000000
Product Container       0.000000
Product Name            0.000000
Product Base Margin     0.819672
Country                 0.000000
Region                  0.000000
State or Province       0.000000
City                    0.000000
Postal Code             0.000000
Order Date              0.000000
Ship Date               0.000000
Profit                  0.000000
Quantity ordered new    0.000000
Sales                   0.000000
Order ID                0.000000
dtype: float64

In [205]:
# not a lot of missing value so we can drop the rows.

In [206]:
# find rows with missing values 
df.loc[df.isnull().any(axis=1)]

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
181,18261,Critical,0.06,276.20,24.49,335,Curtis O'Connell,Regular Air,Corporate,Furniture,...,West,Oregon,Medford,97504,5/4/15,5/5/15,2639.4708,14,3825.32,87277
271,18305,Critical,0.01,128.24,12.65,508,Cameron Owens,Regular Air,Corporate,Furniture,...,South,Kentucky,Covington,41011,4/18/15,4/21/15,140.1354,4,554.08,87357
483,24764,Critical,0.09,349.45,60.00,868,Sharon Ellis,Delivery Truck,Corporate,Furniture,...,Central,Minnesota,Shoreview,55126,3/6/15,3/7/15,-2946.0510,12,3918.98,91195
660,19185,High,0.09,349.45,60.00,1178,Sandy Hunt,Delivery Truck,Consumer,Furniture,...,South,Florida,Altamonte Springs,32701,4/9/15,4/10/15,-369.1100,7,2307.26,89787
700,20592,Medium,0.03,128.24,12.65,1237,Eva Simpson,Regular Air,Corporate,Furniture,...,Central,Texas,Carrollton,75007,1/31/15,2/2/15,790.4640,9,1145.60,86075
727,21848,Not Specified,0.08,128.24,12.65,1267,Rosemary Branch,Regular Air,Corporate,Furniture,...,South,Florida,Boca Raton,33433,5/12/15,5/13/15,-379.3440,3,366.44,89515
734,22125,Low,0.10,238.40,24.49,1281,Pauline Denton,Regular Air,Small Business,Furniture,...,Central,Indiana,Vincennes,47591,1/24/15,1/26/15,875.2844,8,1774.50,89112
736,4125,Low,0.10,238.40,24.49,1282,Dana Sharpe,Regular Air,Small Business,Furniture,...,East,Pennsylvania,Philadelphia,19134,1/24/15,1/26/15,460.6760,30,6654.39,29319
977,22593,High,0.09,349.45,60.00,1739,Edna Pierce,Delivery Truck,Corporate,Furniture,...,South,North Carolina,Goldsboro,27534,5/3/15,5/4/15,-90.7480,17,5835.41,85867
1228,19914,Not Specified,0.08,95.99,35.00,2211,Anita Hahn,Express Air,Home Office,Office Supplies,...,East,Maryland,Bowie,20715,1/1/15,1/3/15,-425.2084,2,193.88,88028
1507,19525,Critical,0.01,138.14,35.00,2660,Jeffrey Page,Regular Air,Small Business,Office Supplies,...,East,Maine,Gorham,4038,2/24/15,2/26/15,-321.5100,4,599.03,86486
1729,23188,High,0.06,276.20,24.49,3048,Tracy G Starr,Express Air,Corporate,Furniture,...,West,California,Berkeley,94704,3/5/15,3/7/15,1167.3800,10,2610.56,89789
1774,20795,Critical,0.08,349.45,60.00,3119,Jay Hubbard,Delivery Truck,Corporate,Furniture,...,South,Florida,Orlando,32839,6/30/15,7/2/15,513.0840,11,3772.19,86432
1860,18728,Not Specified,0.01,349.45,60.00,3257,Sharon Marcus,Delivery Truck,Consumer,Furniture,...,West,Washington,Longview,98632,5/26/15,5/27/15,3739.3929,15,5419.41,88825
1935,23182,Critical,0.09,276.20,24.49,3380,Eva Decker,Regular Air,Home Office,Furniture,...,South,Georgia,La Grange,30240,4/20/15,4/21/15,3193.2840,11,2941.42,88838
1943,19464,Not Specified,0.03,95.99,35.00,3388,Aaron Shaffer,Regular Air,Corporate,Office Supplies,...,West,California,Fairfield,94533,5/11/15,5/12/15,67.0120,9,894.64,90154

In [207]:
df = df.dropna()

In [208]:
# checking na values after dropping it. 
df.isna().sum()

Row ID                  0
Order Priority          0
Discount                0
Unit Price              0
Shipping Cost           0
Customer ID             0
Customer Name           0
Ship Mode               0
Customer Segment        0
Product Category        0
Product Sub-Category    0
Product Container       0
Product Name            0
Product Base Margin     0
Country                 0
Region                  0
State or Province       0
City                    0
Postal Code             0
Order Date              0
Ship Date               0
Profit                  0
Quantity ordered new    0
Sales                   0
Order ID                0
dtype: int64

In [209]:
# separate order data to month ,day, time and year 
#df['time'] = df['Order Date'].apply(lambda x:x[9:])

In [210]:
#df['month'] = df['Order Date'].apply(lambda x:x[0:2])

In [211]:
df.head(2)

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,1/7/15,1/8/15,4.5600,4,13.01,88522
1,20228,Not Specified,0.02,500.98,26.00,5,Ronnie Proctor,Delivery Truck,Home Office,Furniture,...,West,California,San Gabriel,91776,6/13/15,6/15/15,4390.3665,12,6362.85,90193

In [212]:
# Convert date to datetime 
df['Ship Date'] = pd.to_datetime(df['Ship Date'])

In [213]:
df['Order Date'] = pd.to_datetime(df['Order Date'])

In [222]:
# Get month from data col 
df['month'] = pd.DatetimeIndex(df['Order Date']).month_name()

In [215]:
df['month']=df['month'].astype(str)

In [223]:
df.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,month
0,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2015-01-07,2015-01-08,4.5600,4,13.01,88522,January
1,20228,Not Specified,0.02,500.98,26.00,5,Ronnie Proctor,Delivery Truck,Home Office,Furniture,...,California,San Gabriel,91776,2015-06-13,2015-06-15,4390.3665,12,6362.85,90193,June
2,21776,Critical,0.06,9.48,7.29,11,Marcus Dunlap,Regular Air,Home Office,Furniture,...,New Jersey,Roselle,7203,2015-02-15,2015-02-17,-53.8096,22,211.15,90192,February
3,24844,Medium,0.09,78.69,19.99,14,Gwendolyn F Tyson,Regular Air,Small Business,Furniture,...,Minnesota,Prior Lake,55372,2015-05-12,2015-05-14,803.4705,16,1164.45,86838,May
4,24846,Medium,0.08,3.28,2.31,14,Gwendolyn F Tyson,Regular Air,Small Business,Office Supplies,...,Minnesota,Prior Lake,55372,2015-05-12,2015-05-13,-24.0300,7,22.23,86838,May

In [23]:
df_profit_by_state = df[['State or Province','Profit','Sales']]

In [24]:
df_profit_by_state

     State or Province     Profit    Sales
0           Washington     4.5600    13.01
1           California  4390.3665  6362.85
2           New Jersey   -53.8096   211.15
3            Minnesota   803.4705  1164.45
4            Minnesota   -24.0300    22.23
...                ...        ...      ...
1947          Illinois  -116.7600   207.31
1948          Illinois  -160.9520   143.12
1949          Illinois   -41.8700    59.98
1950     West Virginia   -24.7104   135.78
1951           Wyoming   349.4850   506.50

[1936 rows x 3 columns]

In [25]:
state_id = 'https://raw.githubusercontent.com/vega/vega/master/docs/data/population_engineers_hurricanes.csv'

In [26]:
state = pd.read_csv(state_id,sep=',')

In [27]:
state=state.rename(columns={'state':'us_state'})

In [28]:
state.head(2)

  us_state  id  population  engineers  hurricanes
0  Alabama   1     4863300   0.003422          22
1   Alaska   2      741894   0.001591           0

In [29]:
df_group = df_profit_by_state.groupby(by='State or Province').sum().reset_index()

In [30]:
df_group.shape

(49, 3)

In [32]:
df_group.head()

  State or Province        Profit      Sales
0           Alabama  -2418.056600   46826.45
1           Arizona   3909.753832   14367.86
2          Arkansas  -1184.747200   11724.43
3        California  36187.568192  284805.41
4          Colorado   6965.462660   45843.45

In [33]:
df_group=df_group.rename(columns={'State or Province':'us_state'})

In [274]:
df_group.head(2)

  us_state       Profit     Sales
0  Alabama -2418.056600  46826.45
1  Arizona  3909.753832  14367.86

In [275]:
state.shape

(52, 5)

In [35]:
df_profit = pd.merge(df_group,state,on='us_state')

In [36]:
df_profit.head(2)

  us_state       Profit     Sales  id  population  engineers  hurricanes
0  Alabama -2418.056600  46826.45   1     4863300   0.003422          22
1  Arizona  3909.753832  14367.86   4     6931071   0.004774           0

In [276]:
# bring table with us state 
us_states = pd.read_csv('/Users/ghimirek/Desktop/VIZ-SMU/us_state.csv')

In [278]:
us_states=us_states.rename(columns={'state':'us_state'})

In [279]:
us_states.head()

      us_state state_id
0     Alabama        AL
1      Alaska        AK
2     Arizona        AZ
3    Arkansas        AR
4  California        CA

In [280]:
# merge table
df_profit_two = pd.merge(df_profit,us_states,on='us_state')

In [281]:
df_profit_two.head() # something is not working

Empty DataFrame
Columns: [us_state, Profit, Sales, id, population, engineers, hurricanes, state_id]
Index: []

In [37]:
from vega_datasets import data

In [38]:
df_profit.head()

     us_state        Profit      Sales  id  population  engineers  hurricanes
0     Alabama  -2418.056600   46826.45   1     4863300   0.003422          22
1     Arizona   3909.753832   14367.86   4     6931071   0.004774           0
2    Arkansas  -1184.747200   11724.43   5     2988248   0.002440           0
3  California  36187.568192  284805.41   6    39250017   0.007126           0
4    Colorado   6965.462660   45843.45   8     5540545   0.008088           0

In [ ]:
states = alt.topo_feature(data.us_10m.url, 'states')

variable_list = ['Profit','Sales','us_state'] 

alt.Chart(states).mark_geoshape().encode(
       
    alt.Color(alt.repeat('row'), 
    type='quantitative')
).transform_lookup(
    lookup='id',
    from_=alt.LookupData(df_profit, 
                         'id',  
                         variable_list
)
).encode(
    tooltip=['Profit:Q','Sales:Q','us_state:N']   
).properties(     
    width=500,   
    height=300  
).project(
    type='albersUsa'
).repeat(
    row=variable_list
).resolve_scale(
    color='independent' 
)

In [138]:
df.tail(10)

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,month
1941,23190,Critical,0.00,2.61,0.50,3386,Carmen Elmore,Regular Air,Corporate,Office Supplies,...,Ohio,Bowling Green,43402,2015-05-03,2015-05-05,19.5546,10,28.34,88746,5
1942,23191,Critical,0.04,25.38,8.99,3386,Carmen Elmore,Express Air,Corporate,Furniture,...,Ohio,Bowling Green,43402,2015-05-03,2015-05-06,152.4820,35,861.30,88746,5
1944,18640,Medium,0.08,125.99,7.69,3393,Irene Murphy,Regular Air,Consumer,Technology,...,Washington,Pullman,99163,2015-04-29,2015-04-30,374.6250,7,710.36,87908,4
1945,19635,Critical,0.08,4.48,2.50,3393,Irene Murphy,Regular Air,Consumer,Office Supplies,...,Washington,Pullman,99163,2015-02-14,2015-02-15,-3.2448,19,80.20,87909,2
1946,20624,Low,0.00,1270.99,19.99,3397,Andrea Shaw,Regular Air,Small Business,Office Supplies,...,Illinois,Danville,61832,2015-06-07,2015-06-09,6384.4389,7,9252.81,87535,6
1947,19842,High,0.01,10.90,7.46,3397,Andrea Shaw,Regular Air,Small Business,Office Supplies,...,Illinois,Danville,61832,2015-03-11,2015-03-12,-116.7600,18,207.31,87536,3
1948,19843,High,0.10,7.99,5.03,3397,Andrea Shaw,Regular Air,Small Business,Technology,...,Illinois,Danville,61832,2015-03-11,2015-03-12,-160.9520,22,143.12,87536,3
1949,26208,Not Specified,0.08,11.97,5.81,3399,Marvin Reid,Regular Air,Small Business,Office Supplies,...,Illinois,Des Plaines,60016,2015-03-29,2015-03-31,-41.8700,5,59.98,87534,3
1950,24911,Medium,0.10,9.38,4.93,3400,Florence Gold,Express Air,Small Business,Furniture,...,West Virginia,Fairmont,26554,2015-04-04,2015-04-04,-24.7104,15,135.78,87537,4
1951,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,Wyoming,Cheyenne,82001,2015-02-08,2015-02-11,349.4850,5,506.50,87530,2

In [191]:
# replace month numeric to real months 
#df['month']=df['month'].apply(lambda x: x.replace('1','Jan').replace('2','Feb').replace('3','March').replace('4','April').replace('5','May').replace('6','June'))

In [75]:
df['Product Sub-Category'].value_counts()

Paper                             284
Binders and Binder Accessories    200
Telephones and Communication      194
Office Furnishings                185
Computer Peripherals              174
Pens & Art Supplies               161
Storage & Organization            127
Appliances                        100
Office Machines                    95
Chairs & Chairmats                 84
Tables                             75
Labels                             71
Envelopes                          55
Bookcases                          43
Scissors, Rulers and Trimmers      36
Rubber Bands                       34
Copiers and Fax                    18
Name: Product Sub-Category, dtype: int64

In [ ]:
# Which product sub-category has the sales?

In [92]:
sub_cat = df[['Product Sub-Category','Sales']]

In [263]:
sub_cat_group=sub_cat.groupby(by='Product Sub-Category').mean().reset_index()  
sub_cat_group

              Product Sub-Category        Sales
0                       Appliances   822.011500
1   Binders and Binder Accessories   929.640700
2                        Bookcases  2506.885814
3               Chairs & Chairmats  2871.433571
4             Computer Peripherals   553.225862
5                  Copiers and Fax  5503.860000
6                        Envelopes   190.541273
7                           Labels    69.222817
8               Office Furnishings   530.113027
9                  Office Machines  3349.154526
10                           Paper   196.527887
11             Pens & Art Supplies   161.935466
12                    Rubber Bands    52.630294
13   Scissors, Rulers and Trimmers   187.560556
14          Storage & Organization  1383.701181
15                          Tables  2300.151067
16    Telephones and Communication  1024.559227

In [266]:
sub_cat_group['Sales']=sub_cat_group['Sales'].round(decimals=2)

In [272]:
max_sales= sub_cat_group['Sales'].max()

5503.86

In [273]:

chart=alt.Chart(sub_cat_group).mark_bar().encode(
    x= 'Sales',
    y= alt.Y('Product Sub-Category:N',sort='-x'), # -x or x means acending or  descending  
  
    tooltip=alt.Tooltip('Sales'), 
    color = alt.condition(
            alt.datum['Sales']==max_sales,  
            alt.value('Green'), 
            alt.value('steelblue')) 
    
).properties(title='Top Selling Product Sub-Categories',width=500,height=400)  

chart

alt.Chart(...)

In [131]:
# Is there any relationship between discount and profit ? 

alt.Chart(df).mark_point().encode(
    x='Discount',
    y='Profit', 
    color = 'Product Category'
)

alt.Chart(...)

In [71]:
# Distrubution of profit 
chart=alt.Chart(df).mark_bar().encode(
    alt.X('Sales:Q',bin=True),
    y='count()', 
).properties(title='Distribution of Sale')
chart

alt.Chart(...)

In [224]:
produc_chart=alt.Chart(df).mark_line(point=True).encode(
   x='month',
    y='mean(Sales)',
    tooltip=['mean(Sales)','month'],
    #tooltip=alt.Tooltip('mean(Sales)'), 
    color='Product Category').properties(width=500,
                                         height=400,
                                        title='Mean Sales By Product Category')
produc_chart.configure_title(
    fontSize=20,
    font='Courier',
    color='gray')

alt.Chart(...)

In [41]:
#color=alt.Color('rate:Q', sort="descending",  scale=alt.Scale(scheme='plasma'), legend=alt.Legend(title="Unemp Rate", tickCount=6))

states = alt.topo_feature(data.us_10m.url, 'states')

variable_list = ['Profit','Sales','us_state'] 

p_chart=alt.Chart(states).mark_geoshape(stroke='black').encode( 
    color = alt.Color('Sales:Q',scale=alt.Scale(scheme='redyellowgreen'))
    # colors: https://vega.github.io/vega/docs/schemes/
    
).transform_lookup(
    lookup='id',
    from_=alt.LookupData(df_profit, 
                         'id',  
                         list(df_profit.columns)
)
).encode(
    tooltip=['Profit:Q','Sales:Q','us_state:N']   
).properties( 
    title='Sales And Profit Across US', 
    width=600,   
    height=400  
).project(
    type='albersUsa'
)
p_chart.configure_title(
fontSize=20,
    font='Courier',
    color='gray'
)

alt.Chart(...)

In [42]:
states = alt.topo_feature(data.us_10m.url, 'states')

variable_list = ['Sales','us_state'] 

p_chart=alt.Chart(states).mark_geoshape(stroke='black').encode( 
    color = alt.Color('Sales:Q',scale=alt.Scale(scheme='redyellowgreen'))
    # colors: https://vega.github.io/vega/docs/schemes/
    
).transform_lookup(
    lookup='id',
    from_=alt.LookupData(df_profit, 
                         'id',  
                         list(df_profit.columns)
)
).encode(
    tooltip=['Sales:Q','us_state:N']   
).properties( 
    title='Sales Across US', 
    width=600,   
    height=400  
).project(
    type='albersUsa'
)
p_chart.configure_title( 
fontSize=20,
    font='Courier',
    color='gray'
)

alt.Chart(...)

In [43]:
states = alt.topo_feature(data.us_10m.url, 'states')

variable_list = ['Profit','us_state'] 

p_chart=alt.Chart(states).mark_geoshape(stroke='black').encode( 
    color = alt.Color('Profit:Q',scale=alt.Scale(scheme='redblue'))  
    # colors: https://vega.github.io/vega/docs/schemes/ 
    
).transform_lookup(
    lookup='id',
    from_=alt.LookupData(df_profit, 
                         'id',  
                         list(df_profit.columns)
)
).encode(
    tooltip=['Profit:Q','us_state:N']   
).properties( 
    title='Profit Across US', 
    width=600,   
    height=400  
).project(
    type='albersUsa'
)
p_chart.configure_title( 
fontSize=20,
    font='Courier',
    color='gray' 
)

alt.Chart(...)

In [282]:
#Grouped Bar Chart

In [283]:
df.head(2)

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,month
0,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2015-01-07,2015-01-08,4.5600,4,13.01,88522,January
1,20228,Not Specified,0.02,500.98,26.00,5,Ronnie Proctor,Delivery Truck,Home Office,Furniture,...,California,San Gabriel,91776,2015-06-13,2015-06-15,4390.3665,12,6362.85,90193,June

In [286]:
df['Customer Segment'].value_counts()

Corporate         675
Home Office       468
Consumer          408
Small Business    385
Name: Customer Segment, dtype: int64

In [343]:
chart=alt.Chart(df).mark_bar().encode(
    #y='Customer Segment:O',
    y = alt.Y('Customer Segment:O',sort='-x'),  # Have to specify Y (Uppercase)
    x = 'mean(Profit):Q',
    tooltip=alt.Tooltip('mean(Profit):Q'),
    
    color = 'Customer Segment:N', 
    
    ).properties(width=400,height=300,title='Business Needs To Focus Of Increasing Profit From Cooperate')
chart

alt.Chart(...)

In [309]:
from sklearn import preprocessing

In [312]:
df['norm_profit']= df['Profit']

In [322]:
# Create a minimum and maximum processor object
min_max_scaler = preprocessing.MinMaxScaler()

In [324]:
# get all values of profit col
p =  df[['norm_profit']].values.astype(float)

# transform the extracted value to normal form 
prof_scaled = min_max_scaler.fit_transform(p)

In [329]:
# create dataframe of normalized value 
prof_scaled_df = pd.DataFrame(prof_scaled)

In [330]:
# put the normalized value back to the df
df['norm_profit'] = prof_scaled_df

In [331]:
df.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,month,norm_profit
0,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Anacortes,98221,2015-01-07,2015-01-08,4.5600,4,13.01,88522,January,0.641173
1,20228,Not Specified,0.02,500.98,26.00,5,Ronnie Proctor,Delivery Truck,Home Office,Furniture,...,San Gabriel,91776,2015-06-13,2015-06-15,4390.3665,12,6362.85,90193,June,0.811794
2,21776,Critical,0.06,9.48,7.29,11,Marcus Dunlap,Regular Air,Home Office,Furniture,...,Roselle,7203,2015-02-15,2015-02-17,-53.8096,22,211.15,90192,February,0.638902
3,24844,Medium,0.09,78.69,19.99,14,Gwendolyn F Tyson,Regular Air,Small Business,Furniture,...,Prior Lake,55372,2015-05-12,2015-05-14,803.4705,16,1164.45,86838,May,0.672253
4,24846,Medium,0.08,3.28,2.31,14,Gwendolyn F Tyson,Regular Air,Small Business,Office Supplies,...,Prior Lake,55372,2015-05-12,2015-05-13,-24.0300,7,22.23,86838,May,0.640061

In [342]:
alt.Chart(df).mark_circle().encode(
    alt.X('Discount',scale=alt.Scale(zero=False)),
    alt.Y('Profit',scale=alt.Scale(zero=False,padding=1)),
    color = 'Customer Segment',
    size = 'Discount'
    
).properties(title='Discount Does Not Seems To Be Corelated With Profit')

alt.Chart(...)

In [339]:
#https://cmdlinetips.com/2018/04/an-introduction-to-altair-a-python-visualization-library/
alt.Chart(df).mark_boxplot(size=60).encode(
x='Customer Segment',
    y=alt.Y('Discount'),
    color = 'Customer Segment'
).properties(width=400,height=300,title='Discounts Based On Customer Segment')

alt.Chart(...)

In [344]:
#https://towardsdatascience.com/how-to-create-interactive-and-elegant-plot-with-altair-8dd87a890f2a

In [359]:
select = alt.selection(type='interval')

point = alt.Chart(df).mark_point().encode(
    x= 'norm_profit',
    y='Discount',  
    tooltip = ['Discount','norm_profit'],    
    color = alt.condition(select,'Product Category:N',alt.value('lightgray'))
).add_selection(
    select 
).properties(title='Select The Scatterplots To See The Count Bar')

# create bar plot 
bars = alt.Chart(df).mark_bar().encode(
    y='Product Category:N',
    x ='count(Product Category):Q',
    color = 'Product Category'
).transform_filter(
    select
)


point & bars

alt.VConcatChart(...)

'/Users/ghimirek/Desktop'